<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="score" xml:lang="ro">
      
  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="history"/>
    <desc>Cum sunt calculate punctajele jucătorului.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-22" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Daniel Șerbănescu</mal:name>
      <mal:email>daniel [at] serbanescu [dot] dk</mal:email>
      <mal:years>2010, 2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Punctajul și timpii</title>
  <p>Dacă răspundeți incorect la un puzzle, nu veți primi niciun punct pentru el.</p>
  <p>Dacă răspundeți la un puzzle corect, veți obține un punctaj în funcție de timpul utilizat în rezolvarea problemei și în funcție de folosirea indiciului.</p>
  <p>Următorul tabel rezumă duratele diferite de joc (în secunde), bazate pe nivelul de dificultate.</p>
  <table frame="all" rules="all">
    <tr>
      <td><p/></td>
      <td><p>Ușor</p></td>
      <td><p>Mediu</p></td>
      <td><p>Avansat</p></td>
    </tr>
    <tr>
      <td><p>Puzzle-uri logice</p></td>
      <td><p>156</p></td>
      <td><p>120</p></td>
      <td><p>110</p></td>
    </tr>
    <tr>
      <td><p>Calcule mentale</p></td>
      <td><p>78</p></td>
      <td><p>60</p></td>
      <td><p>55</p></td>
    </tr>
    <tr>
      <td><p>Jocuri de memorie</p></td>
      <td><p>39</p></td>
      <td><p>30</p></td>
      <td><p>27</p></td>
    </tr>
    <tr>
      <td><p>Analogii verbale</p></td>
      <td><p>39</p></td>
      <td><p>30</p></td>
      <td><p>27</p></td>
    </tr>
  </table>
  <p>Cu timpul estimat pentru nivelul de dificultate ales și timpul necesar pentru a termina jocul, logica se aplică următoarele:</p>
  <list>
    <item>
      <p>Dacă folosiți mai puțin decât timpul așteptat pentru a finaliza jocul, veți primi 10 puncte.</p>
    </item>
    <item>
      <p>Dacă folosiți mai mult decât timpul așteptat pentru a finaliza jocul, veți primi 8 puncte.</p>
    </item>
    <item>
      <p>Dacă folosiți mai mult decât dublul timpului așteptat pentru a finaliza jocul, veți primi 7 puncte.</p>
    </item>
    <item>
      <p>Dacă folosiți mai mult decât triplul timpului așteptat pentru a finaliza jocul, veți primi 6 puncte.</p>
    </item>
    <item>
      <p>Dacă folosiți indiciul, veți primi doar 80% din punctajul original.</p>
    </item>
  </list>
  
  <section id="computing-scores">
    <title>Calcularea totalului</title>
    <p><app> gbrainy </app> ține evidența diferitelor tipuri de jocuri jucate. Pentru a calcula scorul final al fiecărui set de tipuri de joc se adună toate rezultatele partidelor de același tip joc și apoi se aplică un factor de bază: logaritm de 10 pentru nivelul ușor; logaritm de 20 pentru nivelul mediu; și logaritm de 30 pentru nivelul greu.</p>
	  <p>Aceasta înseamnă că atunci când jucați la nivelul de dificultate mediu, pentru a obține un scor de 100 de puncte va trebui să obțineți 10 puncte la cel puțin 20 de partide din fiecare tip de joc jucat.</p>
	  <p>Aceasta poate suna provocator, dar permite jucătorilor să compare punctajele din diferite sesiuni (în istoricul sesiunilor de joc ale jucătorului)și permite o mai bună evidență a progresului jucătorului pe parcursul tuturor jocurilor jucate. </p>
  </section>
</page>
