<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="tips" xml:lang="fr">
      
  <info>
    <link type="guide" xref="index#tips"/>
    <link type="seealso" xref="newgame"/>
    <desc>Utiliser les astuces pour résoudre une énigme.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-21" status="draft"/>
    <revision pkgversion="2.30" version="0.1" date="2010-01-22" status="review"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Bruno Brouard</mal:name>
      <mal:email>annoa.b@gmail.com</mal:email>
      <mal:years>2010-2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Laurent Coudeur</mal:name>
      <mal:email>laurentc@iol.ie</mal:email>
      <mal:years>2010-2011</mal:years>
    </mal:credit>
  </info>

  <title>Astuces</title>
  <p>Pour certains jeux, il est possible d'obtenir des astuces simples qui peuvent vous aider à résoudre le problème.</p>
  <p>Lorsque vous faîtes un jeu, cliquez sur le bouton <gui style="button">Astuce</gui> en bas de la fenêtre (à côté du champ de saisie <gui style="input">Réponse</gui>).</p>
  <note>
    <p>Cette fonctionnalité n'est pas disponible pour certains jeux.</p>
  </note>
</page>
