<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="export" xml:lang="de">
      
  <info>
    <link type="guide" xref="index#play"/>
    <desc>Spiele exportieren, um offline zu spielen.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-12-26" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Wolfgang Stöggl</mal:name>
      <mal:email>c72578@yahoo.de</mal:email>
      <mal:years>2010</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Paul Seyfert</mal:name>
      <mal:email>pseyfert@mathphys.fsk.uni-heidelberg.de</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Mario Blättermann</mal:name>
      <mal:email>mario.blaettermann@gmail.com</mal:email>
      <mal:years>2017, 2018</mal:years>
    </mal:credit>
  </info>

  <title>Spiele exportieren</title>
  <p>Es ist möglich, die Spiele von <app>gbrainy</app> zu exportieren und zu drucken, um sie ohne Rechner spielen zu können.</p>
  <p>Die Spiele werden in einer <file>PDF</file>-Datei im ausgewählten Ordner gespeichert.</p>
  <p>So exportieren Sie Spiele:</p>
  <steps>
    <item>
      <p>Wählen Sie <guiseq><gui style="menu">Spiel</gui><gui style="menuitem">Spiele als PDF-Datei exportieren …</gui></guiseq>.</p>
    </item>
    <item>
      <p>Wählen Sie den Spieltyp, Schwierigkeitsgrad und die Anzahl der zu exportierenden Spiele. Klicken Sie anschließend auf <gui style="button">Speichern</gui>.</p>
    </item>
  </steps>

</page>
