<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="score" xml:lang="el">
      
  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="history"/>
    <desc>Πώς υπολογίζεται η βαθμολογία των παικτών.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-22" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  </info>

  <title>Βαθμολογία παιχνιδιού και χρόνοι</title>
  <p>Εάν απαντήσετε σε κάποιο γρίφο λάθος, δε θα λάβετε βαθμούς για αυτό.</p>
  <p>Αν απαντήσετε σωστά σε έναν γρίφο, θα πάρετε μια βαθμολογία ανάλογα με τον χρόνο που χρειαστήκατε για την λύση του προβλήματος και το αν λάβατε την υπόδειξη κατά τη διάρκεια του παιχνιδιού.</p>
  <p>Ο ακόλουθος πίνακας συνοψίζει τις διάφορες διάρκειες παιχνιδιών (σε δευτερόλεπτα) με βάση το επίπεδο δυσκολίας.</p>
  <table frame="all" rules="all">
    <tr>
      <td><p/></td>
      <td><p>Εύκολο</p></td>
      <td><p>Μεσαίο</p></td>
      <td><p>Δύσκολο</p></td>
    </tr>
    <tr>
      <td><p>Γρίφοι λογικής</p></td>
      <td><p>156</p></td>
      <td><p>120</p></td>
      <td><p>110</p></td>
    </tr>
    <tr>
      <td><p>Αριθμητική</p></td>
      <td><p>78</p></td>
      <td><p>60</p></td>
      <td><p>55</p></td>
    </tr>
    <tr>
      <td><p>Εξάσκηση μνήμης</p></td>
      <td><p>39</p></td>
      <td><p>30</p></td>
      <td><p>27</p></td>
    </tr>
    <tr>
      <td><p>Λεκτικές αναλογίες</p></td>
      <td><p>39</p></td>
      <td><p>30</p></td>
      <td><p>27</p></td>
    </tr>
  </table>
  <p>Με βάση τον προβλεπόμενο χρόνο για το επιλεγμένο επίπεδο δυσκολίας και το χρόνο που χρειαστήκατε για να ολοκληρώσετε το παιχνίδι, εφαρμόζεται η εξής λογική για τον υπολογισμό της βαθμολογίας σας:</p>
  <list>
    <item>
      <p>Εάν σας πάρει λιγότερο χρόνο από τον προβλεπόμενο για να ολοκληρώσετε το παιχνίδι, θα λάβετε 10 πόντους.</p>
    </item>
    <item>
      <p>Εάν σας πάρει περισσότερο χρόνο από τον προβλεπόμενο για να ολοκληρώσετε το παιχνίδι, θα λάβετε 8 πόντους.</p>
    </item>
    <item>
      <p>Εάν σας πάρει τον διπλάσιο χρόνο από τον προβλεπόμενο για να ολοκληρώσετε το παιχνίδι, θα λάβετε 7 πόντους.</p>
    </item>
    <item>
      <p>Εάν σας πάρει τον τριπλάσιο χρόνο από τον προβλεπόμενο για να ολοκληρώσετε το παιχνίδι, θα λάβετε 7 πόντους.</p>
    </item>
    <item>
      <p>Εάν χρησιμοποιήσετε την υπόδειξη, τότε θα λάβετε μόνο το 80% της αρχικής βαθμολογίας.</p>
    </item>
  </list>
  
  <section id="computing-scores">
    <title>Υπολογίζοντας τη συνολική βαθμολογία</title>
    <p>Το <app>gbrainy</app> θυμάται τα διαφορετικά παιχνίδια που έχουν παιχτεί. Για να υπολογίσει την τελική βαθμολογία για κάθε ομάδα κατηγορίας παιχνιδιών, προσθέτει όλα τα αποτελέσματα των παιχνιδιών της ίδιας ομάδας και στη συνέχεια εφαρμόζει ένα συντελεστή με βάση το λογάριθμο του 10 για το εύκολο επίπεδο, το λογάριθμο του 20 για το μεσαίο επίπεδο και το λογάριθμο του 30 για το δύσκολο επίπεδο.</p>
	  <p>Αυτό σημαίνει ότι όταν παίζετε στο μεσαίο επίπεδο δυσκολίας, για να πάρετε μια βαθμολογία 100 πόντων χρειάζεται να κερδίσετε 10 πόντους σε τουλάχιστον 20 παιχνίδια για κάθε είδους παιχνίδι που παίξατε.</p>
	  <p>Μπορεί να ακούγεται υπερβολικά δύσκολο, αλλά αυτή η μέθοδος επιτρέπει στους παίκτες να συγκρίνουν τις βαθμολογίες διαφορετικών παιχνιδιών (από το ιστορικό παιχνιδιών του παίκτη) και επιτρέπει την καλύτερη παρακολούθηση της προόδου του παίκτη στο σύνολο των παιχνιδιών.</p>
  </section>
</page>
