<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="customgame" xml:lang="pl">
      
  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <link type="seealso" xref="gametypes"/>
    <desc>Włączanie własnego wyboru zadań.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-20" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>  
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Własny wybór zadań</title>
  <p>Można samodzielnie wybrać zadania do rozwiązania w grze <app>gbrainy</app>.</p>
  <p>Aby to zrobić:</p>
  <steps>
    <item>
      <p>Wybierz <guiseq><gui style="menu">Gra</gui><gui style="menuitem">Nowa</gui> <gui style="menuitem">Własny wybór…</gui></guiseq>.</p>
    </item>
    <item>
      <p>W oknie <gui>Wybór zadań</gui> wybierz zadania do rozwiązania klikając pole wyboru obok nazwy zadania.</p>
    </item>
    <item>
      <p>Po ukończeniu kliknij przycisk <gui style="button">Rozpocznij</gui>, aby zacząć rozwiązywanie wybranych zadań.</p>
    </item>
  </steps>
</page>
