<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="history" xml:lang="pl">
  <info>
    <link type="guide" xref="index#play"/>
    <desc>Dostęp do historii rozegranych gier.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-22" status="draft"/>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Historia rozegranych gier</title>
  
  <p>Okno <gui>Historia rozegranych gier</gui> pokazuje wyniki gracza w każdym rodzaju zadań przez kilka ostatnich sesji.</p>
  
  <section id="history-personal">
    <title>Wyświetlanie historii rozegranych gier</title>
    <p>Aby wyświetlić historię rozegranych gier, wybierz <guiseq><gui style="menu">Widok</gui> <gui style="menuitem">Historia rozegranych gier</gui></guiseq>.</p>
  </section>
  
  <section id="history-change-graphic">
    <title>Wybór wyników do wyświetlania</title>
    <p>Aby wybrać wyświetlane wyniki, użyj różnych pól wyboru pod wykresem.</p>
  </section>
  
  <section id="history-save-prefs">
    <title>Zmiana liczby zapisanych gier</title>
    <p><app>gbrainy</app> zapisuje wyniki gracza, aby można było obserwować ich rozwój.</p>
    <p>Aby zmienić liczbę zapisywanych sesji lub ile gier przechowywać w historii:</p>
    <steps>
      <item>
        <p>Wybierz <guiseq><gui style="menu">Ustawienia</gui><gui style="menuitem">Preferencje</gui></guiseq>.</p>
      </item>
      <item>
        <p>W sekcji <gui>Historia rozegranych gier</gui>:</p>
        <list>
          <item>
            <p>Użyj pierwszego pola, aby zmienić liczbę sesji nagrywanych, zanim wyniki będą widoczne na wykresie.</p>
          </item>
          <item>
            <p>Użyj drugiego pola, aby zmienić liczbę sesji wyświetlanych na wykresie.</p>
          </item>
        </list>
      </item>
    </steps>
  </section>
</page>
