<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="license" xml:lang="pl">
  
  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="2.30" version="0.1" date="2009-12-28" status="draft"/>
    <desc>Informacje prawne.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Piotr Drąg</mal:name>
      <mal:email>piotrdrag@gmail.com</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Aviary.pl</mal:name>
      <mal:email>community-poland@mozilla.org</mal:email>
      <mal:years>2017-2018</mal:years>
    </mal:credit>
  </info>

  <title>Licencja</title>
  <p>Na warunkach licencji Creative Commons Attribution-Share Alike 3.0 Unported.</p>
  <p>Można:</p>
  <terms>
    <item>
      <title>dzielić się</title>
      <p>, czyli kopiować, rozpowszechniać, odtwarzać i wykonywać utwór.</p>
    </item>
    <item>
      <title>remiksować</title>
      <p>, czyli tworzyć utwory zależne.</p> 
    </item>
  </terms>
  <p>Na następujących warunkach:</p>
  <terms>
    <item>
      <title>Uznanie autorstwa</title>
      <p>Utwór należy oznaczyć w sposób określony przez Twórcę lub Licencjodawcę.</p>
    </item>
    <item>
      <title>Na tych samych warunkach</title>
      <p>Zmieniając utwór, przekształcając go lub tworząc na jego podstawie, wolno rozpowszechniać powstały utwór zależny jedynie na tej samej, podobnej lub zgodnej licencji.</p>
    </item>
  </terms>
  <p>Pełny tekst licencji dostępny jest na stronie <link href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">Creative Commons</link>; można również przeczytać <link href="https://creativecommons.org/licenses/by-sa/3.0/">podsumowanie</link>.</p>
</page>
