<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="topic" id="gametypes" xml:lang="sr">
  <info>
    <title type="sort">3</title>
    <desc>Које врсте игара можете играти.</desc>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="gameplay"/>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-01-21" status="review"/>    
    <license>
      <p>„Creative Commons Share Alike 3.0“</p>
    </license>
  </info>
  <title>Врсте игара</title>

  <p><app>г-кефало</app> обезбеђује следеће врсте игара:</p>
  
  <table frame="none" rules="none" shade="none">
    <tr>
      <td>
      <terms>
        <item>
          <title>Логичке загонетке</title>
          <p>Игре осмишљене да изазову ваше вештине расуђивања и размишљања. Ове игре се заснивају на секвенцијама елемената, визуелном и просторном расуђивању или заједничком односу између елемената.</p>
        </item>
      </terms>
      </td>
      <td>
        <media type="image" mime="image/png" src="figures/logic-games.png" its:translate="no">
          <p>
            Logic games logo
          </p>
        </media>
      </td>
    </tr>
    <tr>
      <td>
      <terms>
        <item>
          <title>Ментални рачуни</title>
          <p>Игре засноване на аритметичким операцијама осмишљене да побољшају ваше способности менталног рачуна. Игре које захтевају од играча да користи операције множења, дељења, сабирања и одузимања комбиноване на различите начине.</p>
        </item>
      </terms>
      </td>
      <td>
        <media type="image" mime="image/png" src="figures/math-games.png" its:translate="no">
          <p>
            Calculation games logo
          </p>
        </media>
      </td>
    </tr>
    <tr>
      <td>
      <terms>
        <item>
          <title>Меморијске вежбе</title>
          <p>Игре осмишљене као изазов за вашу краткорочну меморију. Ове игре показују скуп објеката и траже од играча да их упамти, понекад успостављајући однос између фигура, речи, бројева или боја.</p>
        </item>
      </terms>
      </td>
      <td>
        <media type="image" mime="image/png" src="figures/memory-games.png" its:translate="no">
          <p>
            Memory games logo
          </p>
        </media>
      </td>
    </tr>
    <tr>
      <td>
      <terms>
        <item>
          <title>Вербалне аналогије</title>
          <p>Игре које проверавају ваше вербалне способности. Ове игре траже од играча да одреди узроке и последице, користи синониме или антониме и да користи свој речник.</p>
        </item>
      </terms>
      </td>
      <td>
        <media type="image" mime="image/png" src="figures/verbal-games.png" its:translate="no">
          <p>
            Verbal analogies games logo
          </p>
        </media>
      </td>
    </tr>
  </table>
</page>
