<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="license" xml:lang="sr-Latn">
  
  <info>
    <link type="seealso" xref="index"/>
    <revision pkgversion="2.30" version="0.1" date="2009-12-28" status="draft"/>
    <desc>Pravne informacije.</desc>
  </info>

  <title>Licenca</title>
  <p>Ovaj rad je dostavljen pod „CreativeCommons Attribution-Share Alike 3.0 Unported“ licencom.</p>
  <p>Vi ste slobodni:</p>
  <terms>
    <item>
      <title>Da razmenjujete</title>
      <p>Da umnožavate, dostavljate i javno saopštavate delo.</p>
    </item>
    <item>
      <title>Da remiksujete</title>
      <p>Da prilagodite delo.</p> 
    </item>
  </terms>
  <p>Pod sledećim uslovima:</p>
  <terms>
    <item>
      <title>Pripisivanje</title>
      <p>Morate da pripišete delo na način određen od strane autora ili davaoca licence (ali ni na koji način koji sugeriše da oni odobravaju vas ili vaše korišćenje dela).</p>
    </item>
    <item>
      <title>Istovetno deljenje</title>
      <p>Ako izmenite, preobratite ili nadogradite ovo delo, možete da dostavljate rezultirajuće delo samo pod istom, sličnom ili kompatibilnom licencom.</p>
    </item>
  </terms>
  <p>
    <!-- Translators: there are no official localized versions of the legal code, only the deed is localized. -->
    For the full text of the license, see the 
    <link href="https://creativecommons.org/licenses/by-sa/3.0/legalcode">CreativeCommons website</link>,
    or read the full <link href="https://creativecommons.org/licenses/by-sa/3.0/">Commons Deed</link>.
  </p>
</page>
