<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="multiplayer" xml:lang="it">

  <info>
    <link type="guide" xref="index#multi"/>
  	<desc>Come giocare con altre persone.</desc>
  	<!-- Taken from GNOME Tetravex -->
    <revision pkgversion="2.30" version="0.1" date="2009-12-18" status="draft"/> 
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons - Condividi allo stesso modo 3.0</p>
    </license>
  </info>

  <title>Giocare con altre persone</title>

  <p>Con <app>gbrainy</app> non è possibile sfidare altre persone su Internet o su una rete locale.</p>
</page>
