<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="customgame" xml:lang="ru">
      
  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <link type="seealso" xref="gametypes"/>
    <desc>Запуск выбранных пользователем игр.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-20" status="draft"/>
    <credit type="author">
      <name>Мило Касагранде (Milo Casagrande)</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>  
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Выбор игр</title>
  <p>В <app>gbrainy</app> можно самому выбирать игры.</p>
  <p>Для этого выполните следующее:</p>
  <steps>
    <item>
      <p>Выберите в меню <guiseq><gui style="menu">Игра</gui><gui style="menuitem">Создать игру</gui><gui style="menuitem">Выбрать свой вариант</gui></guiseq>.</p>
    </item>
    <item>
      <p>В диалоговом окне <gui>Пользовательский вариант игры</gui> выберите нужные игры, отметив их галочками.</p>
    </item>
    <item>
      <p>Нажмите кнопку <gui style="button">Начать</gui>, чтобы начать играть в выбранные игры.</p>
    </item>
  </steps>
</page>
