<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="multiplayer" xml:lang="ru">

  <info>
    <link type="guide" xref="index#multi"/>
  	<desc>Как играть с другими людьми.</desc>
  	<!-- Taken from GNOME Tetravex -->
    <revision pkgversion="2.30" version="0.1" date="2009-12-18" status="draft"/> 
    <credit type="author">
      <name>Мило Касагранде (Milo Casagrande)</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Игра с другими людьми</title>

  <p>В <app>gbrainy</app> нельзя играть с другими людьми по Интернету или локальной сети.</p>
</page>
