<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="pause" xml:lang="ru">
      
  <info>
    <title type="sort">4</title>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="newgame"/>
    <desc>Как приостановить или завершить игру.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <credit type="author">
      <name>Мило Касагранде (Milo Casagrande)</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Приостановка или завершение игры</title>

  <section id="pause-pause">
    <title>Приостановка и возобновление игры</title>
    <p>Чтобы приостановить игру (позже игру можно будет возобновить с того же момента), выполните одно из следующих действий:</p>
    <list>
      <item>
        <p>Выберите в меню <guiseq><gui style="menu">Игра</gui><gui style="menuitem">Приостановить игру</gui></guiseq>.</p>
      </item>
      <item>
        <p>Нажмите кнопку <gui style="button">Пауза</gui> в панели инструментов.</p>
      </item>
    </list>
    <p>Чтобы возобновить приостановленную игру, выполните одно из следующих действий:</p>
    <list>
      <item>
        <p>Выберите в меню <guiseq><gui style="menu">Игра</gui><gui style="menuitem">Приостановить игру</gui></guiseq>.</p>
      </item>
      <item>
        <p>Нажмите кнопку <gui style="button">Возобновить</gui> в панели инструментов.</p>
      </item>
    </list>
  </section>
  
  <section id="pause-stop">
    <title>Завершение игры</title>
    <p>Чтобы завершить игру, выполните следующее:</p>
    <list>
      <item>
        <p>Выберите в меню <guiseq><gui style="menu">Игра</gui><gui style="menuitem">Закончить игру</gui></guiseq>.</p>
      </item>
      <item>
        <p>Нажмите кнопку <gui style="button">Закончить</gui> в панели инструментов.</p>
      </item>
    </list>
  </section>
</page>
