<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="score" xml:lang="ru">
      
  <info>
    <link type="guide" xref="index#play"/>
    <link type="seealso" xref="history"/>
    <desc>Подсчёт набранных очков.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-22" status="draft"/>
    <credit type="author">
      <name>Мило Касагранде (Milo Casagrande)</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Подсчёт очков</title>
  <p>Если вы решили задачу неправильно, то очки за задачу начисляться не будут.</p>
  <p>Если вы решили задачу правильно, то за её решение будут начислены очки с учётом времени, затраченного на решение задачи, также будут учтены использованные подсказки.</p>
  <p>В следующей сводной таблице приведены продолжительности различных игр (в секундах) для разных уровней сложности.</p>
  <table frame="all" rules="all">
    <tr>
      <td><p/></td>
      <td><p>Лёгкий</p></td>
      <td><p>Средний</p></td>
      <td><p>Сложный</p></td>
    </tr>
    <tr>
      <td><p>Логические</p></td>
      <td><p>156</p></td>
      <td><p>120</p></td>
      <td><p>110</p></td>
    </tr>
    <tr>
      <td><p>Вычисления в уме</p></td>
      <td><p>78</p></td>
      <td><p>60</p></td>
      <td><p>55</p></td>
    </tr>
    <tr>
      <td><p>Тренажёры памяти</p></td>
      <td><p>39</p></td>
      <td><p>30</p></td>
      <td><p>27</p></td>
    </tr>
    <tr>
      <td><p>Словесные аналогии</p></td>
      <td><p>39</p></td>
      <td><p>30</p></td>
      <td><p>27</p></td>
    </tr>
  </table>
  <p>В зависимости от времени, отведённого на решение задачи, и времени, затраченного на решение, при начислении очков используются следующие правила:</p>
  <list>
    <item>
      <p>Если вы затратили на решение задачи время меньшее, чем отведённое, вы получите 10 очков.</p>
    </item>
    <item>
      <p>Если вы затратили на решение задачи время большее, чем отведённое, вы получите 10 очков.</p>
    </item>
    <item>
      <p>Если затраченное время превысило отведённое более чем в 2 раза, вы получите 7 очков.</p>
    </item>
    <item>
      <p>Если затраченное время превысило отведённое более чем в 3 раза, вы получите 6 очков.</p>
    </item>
    <item>
      <p>Если вы использовали подсказку, вы получите только 80% заработанных очков.</p>
    </item>
  </list>
  
  <section id="computing-scores">
    <title>Подведение итоговых результатов</title>
    <p><app>gbrainy</app> отслеживает результаты для различных типов игр. Для подсчёта общего количества очков производится сложение очков для всех сыгранных типов игр, затем применяется логарифмическая шкала: логарифм от 10 — для простого уровня; логарифм от 20 — для среднего уровня, логарифм от 30 — для сложного уровня.</p>
	  <p>Это означает, что играя на среднем уровне сложности, для того, чтобы получить 100 очков, нужно набрать как минимум по 10 очков в 20 играх.</p>
	  <p>Игрок может сравнивать результаты игр и наблюдать за их изменением.</p>
  </section>
</page>
