<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="tips" xml:lang="ru">
      
  <info>
    <link type="guide" xref="index#tips"/>
    <link type="seealso" xref="newgame"/>
    <desc>Использование подсказок для решения головоломок.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-21" status="draft"/>
    <revision pkgversion="2.30" version="0.1" date="2010-01-22" status="review"/>
    <credit type="author">
      <name>Мило Касагранде (Milo Casagrande)</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Юрий Мясоедов</mal:name>
      <mal:email>omerta13@yandex.ru</mal:email>
      <mal:years>2011</mal:years>
    </mal:credit>
  </info>

  <title>Подсказки</title>
  <p>Для некоторых игр можно получать простые подсказки, помогающие в решении задачи.</p>
  <p>Во время игры нажмите кнопку <gui style="button">Подсказка</gui> в нижней части окна (рядом с полем ввода <gui style="input">Ответ</gui>).</p>
  <note>
    <p>Эта возможность недоступна для некоторых игр.</p>
  </note>
</page>
