<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="gameplay" xml:lang="nl">
      
  <info>
    <link type="guide" xref="index"/>
    <desc><app>gbrainy</app>-inleiding.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.1" date="2010-01-21" status="review"/>
    <revision pkgversion="2.30" version="0.1" date="2010-04-05" status="review"/>
   <credit type="author">
    <name>Milo Casagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Creative Commons Share Alike 3.0</p>
   </license>
  </info>

  <title>Spel</title>
  
  <p><app>gbrainy</app> is een hersenkrakerspel; het doel van het spel is vermaak en hersentraining.</p>
  <p>Het bestaat uit verschillende soorten spellen zoals logische puzzels, hoofdrekenspellen, geheugentrainers en woordspellen, ontworpen om verschillende cognitieve vaardigheden te testen.</p>
  <p>
    You can choose different difficulty levels making <app>gbrainy</app> 
    enjoyable for kids, adults or senior citizens. It also features a game history, 
    personal records, tips and fullscreen mode support.
  </p>
  <p>
    <app>gbrainy</app> relies heavily on the work of previous puzzle masters, 
    ranging from classic puzzles from ancient times to more recent works like 
    <link href="https://en.wikipedia.org/wiki/Terry_Stickels">Terry Stickels'</link>
    puzzles or the classic <link href="https://en.wikipedia.org/wiki/Dr._Brain">Dr. Brain</link>
    game.
  </p>
  <note>
    <p>Onlangs is er in wetenschappelijke kringen discussie geweest over de vraag of software voor hersentraining de cognitieve prestatie verbetert. De meeste studies tonen aan dat er weinig tot geen verbetering is, maar dat betekent niet dat u zich niet kunt vermaken met het spelen van spellen zoals <app>gbrainy</app>!</p>
  </note>
</page>
