<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" xmlns:its="http://www.w3.org/2005/11/its" type="guide" id="index" style="2column" xml:lang="ca">

  <info>
    <title type="link">gbrainy</title>
    <title type="text">gbrainy</title>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-02-09" status="draft"/>
    <title type="link">gbrainy</title>
    <desc>L'ajuda del <app>gbrainy</app>.</desc>
    <credit type="author">
      <name>Milo Casagrande</name>
      <email>milo@ubuntu.com</email>
    </credit>
    <license>
      <p>Reconeixement-Compartir Igual 3.0</p>
    </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jordi Mas i Hernàndez</mal:name>
      <mal:email>jmas@softcatala.org</mal:email>
      <mal:years>2009-2018</mal:years>
    </mal:credit>
  </info>

  <title><media type="image" mime="image/png" src="figures/gbrainy.png" its:translate="no">gbrainy logo</media> gbrainy</title>

  <section id="play" style="2column">
    <title>Ús bàsic del joc</title>
  </section>

  <section id="multi" style="2column">
    <title>Joc amb múltiples jugadors</title>
  </section>
  
  <section id="tips" style="2column">
    <title>Consells i trucs</title>
  </section>

</page>
