<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="topic" id="times" xml:lang="ca">
      
  <info>
    <link type="guide" xref="index#play"/>
    <desc>Canvia el temps de presentació del desafiament als jocs de memòria.</desc>
    <revision pkgversion="2.30" version="0.1" date="2010-01-10" status="draft"/>
    <revision pkgversion="2.30" version="0.2" date="2010-01-19" status="review"/>
   <credit type="author">
    <name>Milo Casagrande</name>
    <email>milo@ubuntu.com</email>
   </credit>
   <license>
     <p>Reconeixement-Compartir Igual 3.0</p>
   </license>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Jordi Mas i Hernàndez</mal:name>
      <mal:email>jmas@softcatala.org</mal:email>
      <mal:years>2009-2018</mal:years>
    </mal:credit>
  </info>

  <title>Canviar la durada del desafiament</title>
  <p>Per a canviar el nombre de segons que disposeu per a memoritzar el desafiament en jocs de memòria, procediu de la manera següent:</p>
  <steps>
    <item>
      <p>Seleccioneu <guiseq><gui style="menu">Paràmetres</gui><gui style="menuitem">Preferències</gui></guiseq>.</p>
    </item>
    <item>
      <p>A la secció <gui>Jocs de memòria</gui>, utilitzeu el botó de selecció de valor per a incrementar o reduir el nombre de segons durant els quals el desafiament és visible.</p>
      <p>El valor per defecte és 6 segons.</p>
    </item>
  </steps>
</page>
